<?php

$appdir = getenv('APP_DIR') ?: '/var/www/html/monarc';
$packageJson = json_decode(file_get_contents($appdir . '/package.json'), true);

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => 'localhost',
                    'user' => 'sqlmonarcuser',
                    'password' => 'password',
                    'dbname' => 'monarc_common',
                ],
            ],
            'orm_cli' => [
                'params' => [
                    'host' => 'localhost',
                    'user' => 'sqlmonarcuser',
                    'password' => 'password',
                    'dbname' => 'monarc_master',
                ],
            ],
        ],
    ],

    'defaultLanguageIndex' => 1,

     // Languages available for the analysis / DB data.
    'languages' => [
        'fr' => ['index' => 1, 'label' => 'Français'],
        'en' => ['index' => 2, 'label' => 'English'],
        'de' => ['index' => 3, 'label' => 'Deutsch'],
        'nl' => ['index' => 4, 'label' => 'Dutch'],
    ],

    // Languages available for the user interface.
    'activeLanguages' => ['fr', 'en', 'de', 'nl', 'es', 'ro', 'it', 'ja', 'pl', 'pt', 'zh'],

    'twoFactorAuthEnforced' => false,

    'appVersion' => $packageJson['version'],

    'monarc' => [
        'ttl' => 20, // timeout
    ],
];
